In [1]:
import pandas as pd
import numpy as np

%matplotlib inline
import matplotlib
import matplotlib.pyplot as plt
from IPython.display import set_matplotlib_formats
set_matplotlib_formats('retina')

This notebook shows some basics stats about securities labeled as NC1

## Load Data

In [2]:
data = pd.DataFrame([])
for n in range(2,9):
    file_name = 'trimmed_'+ str(2000+n) +'_v3_USE.csv'
    df = pd.read_csv(file_name)
    rows = df.shape[0]
    year = {'Year' : ([str(2000+n)]*rows)}
    year_df = pd.DataFrame(data=year)
    df = pd.concat([df, year_df], axis=1)
    data = data.append(df,ignore_index=True)

## Data Validation

In [3]:
print('we have {} rows of data'.format(data.shape[0]))

we have 31811 rows of data

In [4]:
print('rows grouped by year:')
data.groupby(['Year']).size()

rows grouped by year:

Year
2002    2770
2003    4233
2004    5330
2005    8989
2006    5071
2007    4551
2008     867
dtype: int64

## Duplicatations

There are several duplications in the data set.
1. There are rows that are exactly the same
2. CUSIP os duplicated

### Duplicated rows

There are two rows that are the same. For example, CUSIP:576434DB7

In [5]:
data.loc[data['CUSIP'] == '576434DB7']

,PID,Prospectus,Class,norm_class,Name,Current_Balance,Zero-Balance Payment Period Number,Sum Principle Paid,MTG ORIG AMT,Maturity,...,Moody Rating,Initial Moody Rating,Bloomberg Composite,HCLB,MTG INT SHRTFLL,HIST INTRST SHRTFLL,Label,norm_label,USE,Year
3352,FC_1440,MASTR_1225297_0000950136-03-000749.txt,6A2,A,MALT 2003-2 6A2,0.0,1,7.778,7.778,3/25/2033,...,WR,Aaa,NR,0.0,NaN,0\0\0,MED,ME,0,2003
3381,FC_1440,MASTR_1225297_0000950136-03-000749.txt,6A2,A,MALT 2003-2 6A2,0.0,1,7.778,7.778,3/25/2033,...,WR,Aaa,NR,0.0,NaN,0\0\0,MED,ME,0,2003

pd.duplicated() helps us find duplicated rows and True means it is duplicated

In [6]:
num_duplicated = data.loc[data.duplicated(keep=False)].shape[0]
print('keep=false shows all duplicated instace so there are {} rows that are duplicated.'.format(num_duplicated))

keep=false shows all duplicated instace so there are 326 rows that are duplicated.

In [7]:
num_to_delete = data.loc[data.duplicated()].shape[0]
print('No keep parameter shows duplicated instace that we should delete so there are {} rows'
      'that are duplications that should be deleted.'.format(num_to_delete))
print('That will give us {}'.format(num_duplicated-num_to_delete))

No keep parameter shows duplicated instace that we should delete so there are 163 rowsthat are duplications that should be deleted.
That will give us 163

pd.drop_duplicates() can drop duplicated rows and keep the only one copy of them

In [8]:
data_dropDuplicated = data.drop_duplicates()

In [9]:
#data.to_pickle('parent_data')